:root {
    --C0: rgb(167, 169, 172);
    --C1: rgb(0, 125, 190);
    --C2: rgb(0, 88, 138);
    --C3: rgb(0, 171, 189);
    --C4: rgb(84, 198, 211);
    --C5: rgb(0, 183, 199);
    --C6: rgb(35, 31, 32);
    --C7: rgb(99, 100, 102);

    --bg-color: hsl(49 37% 94%);
    --typewriterSpeed: 8s;
    --typewriterCharacters: 62;
  }


input, textarea{
border: 1px solid black;
  border-radius: 5px;
  color: black;
}
body{

  height: 100%;
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: var(--C3);
  margin-left: 10%;
  margin-right: 10%;
  /* margin-top: 0px; */
  /* border: 1px solid var(--C3);
  box-shadow: 0px 0px 5px 5px var(--C4); */
}
.flex{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  

}
.flex-column{
  flex-direction: column;
 
}
#body-item{
  background-color: var(--C0);
}

/*main and section*/
.main {
  width: 60%;
  margin: 10px;
}

.section {

  width: 20%;
  padding: 30px;
  border: green solid 5px;
  margin: 20px;
 
}


.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  #header-intro{
    
    justify-content: center;
  }
#header-intro .a{
margin: 10px;
justify-content: center;

}
  .title{
    display: inline;
    width: 30vw;
  }

  .btn {
    color: black;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    margin: 0 0 2em;
    min-width: 100px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;

    border-radius: 10px;
  }
 
  .btn:hover {
    text-decoration: none;
  }

  .btn-animation {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgb(255, 255, 255);
    outline: 2px solid;
    outline-color: rgb(0, 88, 138);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  .btn-animation:hover {
    color: white;
    background-color: black;
    border: 0px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: rgba(1,1,1,0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px  var(--C5);
  }
  

.nav-link {
  color: var(--C1) ;
}
.nav-list {
  list-style-type: none;
  margin: auto;
  padding: auto;
  overflow: hidden;
  background-color: #333333;
}

.nav-item {
  float: left;
}

.nav-item a {
  display: block;
  color: white;
  text-align: center;
  padding: 8px;
  text-decoration: underline;
}

.nav-item a:hover {
  background-color: #111111;
  color: var(--C5);
}

a:hover {
  background-color: #111111;
  color: var(--C5);
}


/*Footer*/
#footer li{
  list-style-type: none;
  text-decoration: none;
  margin: 10px;

}
 
/*horizontal line*/
hr{
  width: 80%;
  align-items: center;
}
/*Call For Papers*/

.table {
  border-collapse: collapse;
  width: 100%;
  height: auto;
  border: 2px solid black;
 
}

.table td, .table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even){
  background-color: var(--C4);
}

.table tr:hover {
  background-color: #ddd;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--C6);
  color: var(--C5);
}


/*Conact page*/

.input{
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.input label{
  font-size: 16pt;
  width: 35%;
}
.input input,textarea{
  width: 60%;
}
#contact-form{
  background-color: var(--C0);
  width: 50%;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px black;
  margin:10px;
}


@media (min-width: 600px) {
  .btn {
    margin: 0 1em 2em;
  }
}





























/* Modal CSS */

/* The Modal (background) */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #0d0058;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
